<ion-tabs class="tabs-icon-top tabs-color-active-positive">
  <ion-tab title="Add Picture" icon-off="ion-ios-plus-outline" icon-on="ion-plus-circled" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Results" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/results">
    <ion-nav-view name="tab-results"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Account" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>
</ion-tabs>
